# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Data files
data/audio/*
data/transcripts/*
data/summaries/*
data/actions/*

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Logs
*.log